@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

:root{
    --primary: rgb(88, 40, 40);
    --black:#000;
    --white:#fff;
    --light-black: #666;
    --hover: rgba(244, 244, 244, 0.8);
    --bg: #f9f9f9;
    --border: 0.1rem solid rgba(70, 38, 38, 0.856);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: .8rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--primary);
  border-radius: 5rem;
}

section{
  padding: 5rem 7%;
}

.heading{
  text-align: center;
  font-size: 4rem;
  color: var(--black);
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 3rem;
}

.heading span{
  color: var(--primary);
  text-transform: uppercase;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  padding: .9rem 3rem;
  border-radius: 10rem;
  border: .1rem solid var(--primary);
  font-size: 1.7rem;
  color: var(--primary);
  cursor: pointer;
}

.btn:hover{
  background: var(--primary);
  color: var(--white);
}


/* header */

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  background: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 9%;
}

.header .logo img{
  height: 3.5rem;
  margin-bottom: -2%;
}

.header .logo a{
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--black);
}

.header .logo a:hover {
  color: #666;
}

.header span {
  font-size: 2rem;
} 

.header .navbar a{
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
  padding: 1.2rem;
  transition: all .2s;
}

.header .navbar a:hover{
  border-bottom: 2px solid var(--primary);
  color: #666;
}

.header .icons div{
  font-size: 2.5rem;
  margin-left: 1.7rem;
  color: var(--white);
  cursor: pointer;
  -webkit-text-stroke: .1rem var(--primary);
}

.header .icons div:hover{
  color: var(--primary);
}

#menu-bar{
  display: none;
}

/* end */

/* home */

.home {
  height: 80vh;
  width: 100%;
}

.wrapper .slide {
  height: 100%;
  width: 100%;
}

.slide {
  overflow: hidden;
}

.slide .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slide .image-text {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%,-50%);
}

.image-text span {
  font-size: 6rem;
}

.image-text p {
  font-size: 1.7rem;
}

.button {
  display: inline-block;
  padding: .5rem 1.5rem;
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 50px;
  margin-top: 15px;
  color: var(--black);
  font-size: 1.7rem;
  transition: all .2s;
}

.button:hover {
  background-color: var(--primary);
  color: var(--white);
}

/* end */


/* product */

.products{
  background: var(--bg);
}

.products .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
  gap: 2rem;
}

.products .box-container .box{
  background: var(--white);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  height: 100%;
  border: var(--border);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.products .box-container .box .image {
  height: 250px;
  position: relative;
}

.products .box-container .box .image .off {
  position: absolute;
  top: 0;
  left: 0;
  padding: .2rem .4rem;
  background-color: red;
  z-index: 1;
  font-size: 1.3rem;
  color: var(--white);
}

.products .box-container .box .image img{
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
  z-index: 0;
}

.products .box-container .box .content{
  padding: 2rem;
  padding-top: 0;
}

.products .box-container .box .content h3{
  color: #686666;
  font-size: 2.2rem;
}

.products .box-container .box .content .price{
  color: var(--black);
  font-size: 2.2rem;
}

.products .box-container .box .content .price span {
  text-decoration: line-through;
  font-size: 1.5rem;
  color: var(--light-black);
}

.products .box-container .box .content .stars{
  padding: 1rem 0;
}

.products .box-container .box .content .stars i{
  font-size: 1.5rem;
  color: gold;
}

.products .box-container .box .content a{
  padding: .5rem 1rem;
  line-height: 4.5rem;
  border-radius: .5rem;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--black);
  border: 1px solid var(--primary);
  box-shadow: var(--box-shadow);
}

.products .box-container .box .content  a:hover{
  color: var(--white);
  background: var(--primary);
  box-shadow: var(--box-shadow);
  transition: .2s linear;
}

/* end */


/* Coleção */

.colecao {
 background-color: rgba(70, 38, 38, 0.856);
 height: 65vh;
}

.colecao .box-container {
  height: 100%;
  padding: 5% 7%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
  gap: 2rem;
}

.colecao .box-container .image {
  height: 40rem;
  width: 100%;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.colecao .box-container .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.colecao .box-container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.colecao .box-container .content h2 {
  color: #faf3dd;
  font-size: 3rem;
}

.colecao .box-container .content p {
  color: var(--white);
  font-size: 1.5rem;
  line-height: 6rem;
}

.colecao .box-container .content a {
  padding: 1rem 2rem;
  border-radius: .5rem;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #faf3dd;
  border: 1px solid #faf3dd;
  box-shadow: var(--box-shadow);
  transition: all .2s;
}

.colecao .box-container .content a:hover {
  background-color: #faf3dd;
  border: none;
  color: var(--black);
}

/* end */


/* featured */

.featured{
  background: var(--bg);
  border: .1rem solid #ccc;
}

.featured .featured-slider .slide{
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
 
}

.featured .featured-slider .slide .image{
  height: 45rem;
  width: 100%;
  overflow: hidden;
  background-color: #eeeaead3;
  position: relative;
}

.featured .featured-slider .slide .image img{
  margin-top: 10rem;
  height: 55%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

#tenis2 {
  margin-top: 13rem;
}

.featured .featured-slider .slide:hover .image img{
  transform: scale(1.1);
}

.featured .featured-slider .slide .content{
  padding: 1rem 1.5rem;
  text-align: center;
  border-top: 2px solid #ccc;
  margin-top: 2rem;
}

.featured .featured-slider .slide .content h3{
  font-size: 2rem;
  color: #686666;
}

.featured .featured-slider .slide .content .price{
  padding: .5rem 0;
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.featured .featured-slider .slide .content .price .amount{
  font-size: 2.2rem;
  font-weight: bolder;
  color: var(--black);
}

.featured .featured-slider .slide .content .price .cut{
  text-decoration: line-through;
  font-size: 1.5rem;
  color: var(--light-black);
}

.featured .featured-slider .slide .image .off{
  color: var(--white);
  font-size: 1.5rem;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding: .2rem .7rem;
  background-color: red;
}

.featured .featured-slider .slide .image .new {
  color: var(--white);
  font-size: 1.5rem;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding: .2rem .7rem;
  background-color: var(--black);
}

.featured .featured-slider .slide .content .frete{
  font-size: 1.5rem;
  color: rgb(15, 173, 15);
  font-weight: bold;
}

.featured .featured-slider .slide .content .stars i{
  color: gold;
}

.swiper-button-next,
.swiper-button-prev{
  height: 5rem;
  width: 5rem;
  border-radius: .5rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  color: var(--primary);
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
  background: var(--primary);
  color: var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 2rem;
}

/* end */


/* blog */

.destaque{
  background-color: rgba(70, 38, 38, 0.856);
}

.destaque h1 {
  color: #faf3dd;
}

.destaque .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.destaque .box-container .box{
  border-radius: 2rem;
  padding: 7rem 2rem;
}

.destaque .box-container .box .image{
  height: 55rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.destaque .box-container .box .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

.destaque .box-container .box .image .destaque-subtitle {
  font-size: 1.4rem;
  position: absolute;
  z-index: 1;
  left: 10%;
  bottom: 34%;
  color: rgba(70, 38, 38, 0.856); 
}

.destaque .box-container .box .image .destaque-title {
  font-size: 2.5rem;
  position: absolute;
  z-index: 1;
  left: 10%;
  bottom: 28%;
  color: rgba(70, 38, 38, 0.856); 
}

.destaque .box-container .box .image .destaque-btn {
  position: absolute;
  z-index: 1;
  left: 10%;
  bottom: 20%;
  padding: .5rem 2rem;
  border-radius: .5rem;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: rgba(70, 38, 38, 0.856);
  border: 1px solid rgba(70, 38, 38, 0.856);
  box-shadow: var(--box-shadow);
  transition: all .2s;
}

.destaque .box-container .box .image .destaque-btn:hover {
  background-color: rgba(70, 38, 38, 0.856);
  color: var(--white);
}

.destaque .box-container .box .image .destaque-subtitle2 {
  font-size: 1.4rem;
  position: absolute;
  z-index: 1;
  left: 10%;
  bottom: 34%;
  color: #faf3dd; 
}

.destaque .box-container .box .image .destaque-title2 {
  font-size: 2.5rem;
  position: absolute;
  z-index: 1;
  left: 10%;
  bottom: 28%;
  color: #faf3dd; 
}


.destaque .box-container .box .image .destaque-btn2 {
  position: absolute;
  z-index: 1;
  left: 10%;
  bottom: 20%;
  padding: .5rem 2rem;
  border-radius: .5rem;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #faf3dd;
  border: 1px solid #faf3dd;
  box-shadow: var(--box-shadow);
  transition: all .2s;
}

.destaque .box-container .box .image .destaque-btn2:hover {
  background-color: #faf3dd;
  color: var(--black);
}

/* end */

/* contact */

.contact .row{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.contact .row .image{
  flex: 1 1 40rem;
}

.contact .row .image img{
  width: 100%;
}

.contact .row form{
  flex: 1 1 52rem;
  padding: 2rem;
  background-color: rgba(70, 38, 38, 0.856);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
}

.contact .row form p{
  font-size: 2rem;
  padding-bottom: 1rem;
  color: #faf3dd;
}

.contact .row form .inputBox input,
.contact .row form textarea{
  padding: 1rem 1.2rem;
  border: var(--border);
  border-radius: .5rem;
  font-size: 1.6rem;
  color: var(--primary);
  margin: .7rem 0;
  width: 100%;
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.contact .row form .btn{
  background: none;
  color: #faf3dd;
  border: 1px solid #faf3dd;
  transition: all .2s;
}

.contact .row form .btn:hover{
  background: #faf3dd;
  color: var(--black);
}

/* end */

/* deliver */

.deliver {
  background-color: rgba(70, 38, 38, 0.856);
}

.deliver .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  align-items: center;
  justify-content: center;
}

.deliver .box-container .box{
  position: relative;
}

.deliver .box-container .box .image{
  flex: 1 1 40rem;
}

.deliver .box-container .box .image h4 {
  color: var(--white);
  line-height: 3rem;
  font-size: 1.3rem;
}

.deliver .box-container .box .image p {
  color: #faf3dd;
}

.deliver .box-container .box .content{
  flex: 1 1 40rem;
  text-align: center;
}

.deliver .box-container .box .content h3{
  font-size: 2.2rem;
  color: #faf3dd;
  font-weight: 400;
  margin-bottom: .5rem;
}

.deliver .box-container .box .content a{
  padding: .7rem 3rem;
  line-height: 4.5rem;
  border-radius: .5rem;
  background: transparent;
  cursor: pointer;
  color: #faf3dd;
  border: 1px solid #faf3dd;
  box-shadow: var(--box-shadow);
  transition: all .2s;
}

.deliver .box-container .box .content a:hover {
  color: var(--black);
  background-color: #faf3dd;
}

.deliver .box-container .box .content p{
  font-size: 1.2rem;
  line-height: 4rem;
  color: #faf3dd;
}

/* deliver end */


/* footer */

.footer{
  background: var(--bg);
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box img {
  height: 4rem;
  margin-bottom: -1%;
}

.footer .box-container .box>a{
  display: inline;
  font-size: 2.2rem;
  color: var(--black);
  padding: 1rem 0;
  font-weight: bold;
}

.footer .box-container .box>a:hover {
  color: #686666;
}

.footer .box-container .box h3 {
  font-size: 2rem;
}

.footer .box-container .box h3 i{
  color: var(--primary);
  padding-right: .5rem;
}

.footer .box-container .box .share{
  margin-top: 4rem;
}

.footer .box-container .box .share a{
  height: 4.5rem;
  width: 4.5rem;
  line-height:  4.5rem;
  font-size: 1.7rem;
  background: var(--primary);
  color: var(--white);
  margin-right: .3rem;
  text-align: center;
  border-radius: 50%;
}

.footer .box-container .box .share a:hover{
  background: rgba(70, 38, 38, 0.767);
}

.footer .box-container .box .link{
  display: block;
  font-size: 1.7rem;
  line-height: 2;
  padding: .5rem 0;
  color: #8d8a8a;
}

.footer .box-container .box .link:hover{
  color: var(--primary);
}

.footer .box-container .box .link i{
  padding-right: .5rem;
  color: var(--primary);
}

.credit{
  height: 8vh;
  padding: 2rem 1rem;
  border-top: var(--border);
  text-align: center;
  color: var(--light-black);
  font-size: 1.4rem;
}

.credit span{
  color: var(--primary);
}

.credit span i {
  margin-right: 1rem;
}

/* end */

/* media queries */

@media (max-width: 991px){

  html{
    font-size: 55%;
  }

  .header{
    padding: 2rem 3rem;
  }

  section{
    padding: 2rem;
  }

}

@media (max-width: 768px){

  #menu-bar{
    display: inline-block;
  }

  .header .navbar{
    position: absolute;
    top: 99%;
    left: 0; right: 0;
    background: var(--white);
    border-top: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a{
    font-size:  2rem;
    margin: 2rem;
    display: block;
  }

  .header span {
    display: none;
  }

  .slide .image-text {
    left: 50%;
  }

}

@media (max-width: 450px){

  html{
    font-size: 50%;
  }

  .home .content h3{
    font-size: 3.5rem;
  }

  .slide .image-text {
    left: 50%;
  }

  .colecao .box-container .content a {
    display: none;
  }

}